@page
@model WebTest.Views.Vue.IndexModel
@{
}
<div id="app">
    <native-component v-on:click.native="clickFun"></native-component>
    <input v-model="testinfo.name" type="text" />

</div>
<script src="~/js/vue.js"></script>
<script>
    Vue.component('native-component', {
        template: `<p>asdfasdfasdf<button v-on:click='testa'>click me</button></p>`,
        methods: {
            testa() {
                console.log("bbb");
            }
        }
    })
    var app=new Vue({
        el: '#app',
        data() {
            return {
                testinfo: {}
            }
        },
        methods: {
            clickFun: function () {
                this.$set(this.testinfo, 'name', 'asdfasdfdsf');
                console.log("message: success")
            }
        }
    })
</script>